@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayBold.ttf);
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}
html,body{
     height: 100%;
     width: 100%;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 0vw;
    width: 100%;
   
    position: relative;
    z-index: 99;
     
      display: flex;
      justify-content: space-between;
      align-items: center;
}
#nav-part2{
     display: flex;
    align-items: center;
     gap: 1vw;
}



#Menu{
       display: none;
}
#nav-part2 h4{
    border: 1px solid grey;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 700;
    font-family: 17px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.4s ;
    
   
}
#nav-part2 h4::after {
     content: " ";
     left: 0;
     bottom: -100%;
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: black;
     border-radius: 50%;
     transition: all ease 0.4s ;
}
#nav-part2 h4:hover::after {
     bottom: 0;
     border-radius: 0;

}
#nav-part2 h4 a {
     text-decoration: none;
     color: #000000;
     z-index: 9;
     position: relative;
}
#nav-part2:hover a {
     color: white;
}
#center{
     height: 65vh;
     width: 100%;
     /* background-color: orange; */
     display: flex;
     align-items: flex-end;
     
     justify-content: space-between;
     border-bottom: 1px solid #0000003c;
  padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    font-family: neu;
    line-height: 2vw;

}
 #right p{
     font-size: 10vw;
     text-align: right;
     line-height: 8vw;
 }
 #page1 video{
     position: relative;
     z-index: 8;
     width: 100%;
     border-radius: 20px;
     margin-top: 4vw;
     cursor: pointer;
    
     
 }
 #hero-shape{
      position: absolute;
      width: 46vw;
      height: 36vw;
      right: 0;
      top: 65vh;
 }
 #hero-1{
      background-color: #FE3209;
      position: absolute;
      height: 100%;
      width: 100%;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      filter:blur(20px);
 }

 #hero-2{
     background: linear-gradient(#FE3209,#fe4a09) ;
     position: absolute;
     height: 30vw;
     width: 30vw;
     border-top-left-radius: 50%;
     border-bottom-left-radius: 50%;
     filter:blur(25px);
     animation-name: anime2;
     animation-duration: 5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     animation-duration: alternate;
}


#hero-3{
     background: linear-gradient(#FE3209,#fe4a09) ;
     position: absolute;
     height: 30vw;
     width: 30vw;
     border-top-left-radius: 50%;
     border-bottom-left-radius: 50%;
     filter:blur(25px);
     animation-name: anime1;
     animation-duration: 5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     animation-duration: alternate;

}
@keyframes anime1 {
      from {
          transform: translate(55%,-3%);
      }
      to {
           transform: translate(0%,-10%);
      }
}

@keyframes anime2 {
     from {
         transform: translate(5%,-5%);
     }
     to {
          transform: translate(-30%,20%);
     }
}
#page2{
     min-height: 100vh;
     width: 100%;
     background-color: #EFEAE3;
     padding: 8vw 0;
     position: relative;
     /* background-color: red; */
}
#moving-text{
     white-space: nowrap;
     overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
      display: none;
}

.con{
        white-space: nowrap; 
        display: inline-block; 
        animation-name: move;  
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        
}
#moving-text h1{
      font-size: 9vw;
      display: inline-block;
}
#page-4-parent{
     background-color: white;
}
#gola{
      height: 5vw;
      width: 5vw;
      border-radius: 50%;
      background-color: red;
      display: inline-block;
      margin: 1vw 2vw;
}
@keyframes move {
     from{
           transform: translateX(0);
     }
     to{
           transform: translateX(-100%);
     }
     
}
#page2-bottom{
      height: 80vh;
      width: 100%;
      display: flex;
     position: relative;
     z-index: 9;
      align-items: center;
      justify-content: space-between;
      padding: 4vw;
}
#page2-bottom h1{
     font-size: 4vw;
     width: 60%;
     margin-top: 2.5vw;
     line-height: 4vw;
}
#bottom-part2{
      width: 20%;
      
}
#bottom-part2 img{
      width: 100%;
      border-radius: 15px;
}
#bottom-part2 p{
      font-weight: 500;
      margin-top: 2vw;
      font-size: 1vw;
}
#page2 #gooey{
      height: 30vw;
      width: 30vw;
      position: absolute;
      background:  linear-gradient(to top right,#FE3209 ,#fe6f09);
      border-radius: 50%;
      top: 58%;
      left: 30%;
      filter: blur(25px);
      animation-name: gooey;
      animation-duration: 6s;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-iteration-count: infinite ;
}
@keyframes gooey {
     from{
           transform: translate(10%,-10%) skew(0);
     }
     to{
          filter:blur(30px);
          transform: translate(-10%,10%) skew(-12deg);
     }
}
#page3{
      min-height: 100vh;
      width: 100%;
      background-color: #EFEAE3;
      /* background-color: #EFE9E2; */
      padding: 4vw 0;
     
}
.elem{
      height: 150px;
      width: 100%;
      /* background-color: orange; */
      position: relative;
     
      border-bottom: 1px solid #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2vw;
      overflow: hidden;
}
.elem h2{
      font-size: 3vw;
      position: relative;
      z-index: 9;
}
.elem .overlay{
     height: 100%;
     width: 100%;
     background-color: orange;
     position: absolute;
     left: 0;
     top: -100%;
     transition: all ease 0.3s ;
}
.elem:hover .overlay{
      top: 0;
}

#fixed-image{
      height: 30vw;
      width: 23vw;
      /* background-color: red; */
      border-radius: 10px;
      position: fixed;
      z-index: 99;
      left: 50%;
      top: 25%;
      display: none;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.elem-right{
      text-align: center;
}
.elem-right p{
   font-weight: lighter;
}

#page-4-parent{
      width: 100%;
      min-height: 100vh;
      padding: 2vw 2vw;
      
} 
.page4-child{
      width: 100%;
      height: 100vh;
      display: flex;
      /* background-color: #000; */
      /* background-color: red; */
      border-radius: 20px;
      border-radius: 30px;
      overflow: hidden;
}
#page4-right{
     height: 100%;
     width: 40%;
    
     display: flex;
     justify-content: center;
     background-color: #000;
     align-items: center;
     flex-direction: column;
     
     

}
#para1{
      font-size: 3vw;
      color: gray;
      position: relative;
      transition: all 0.2s ease;
      font-weight: 700;
}
#para2{
     font-size: 3vw;
     color: gray;
     position: relative;
     transition: all 0.2s ease;
     font-weight: 700;

}
#para3{
     font-size: 3vw;
     color: gray;
     position: relative;
     transition: all 0.2s ease;
     font-weight: 700;
}
#Para2{
     margin-top: 2vw;
     color: white;
     margin-left: 24%;
     margin-right: 25%;
     
}





#page4-left{
      width: 60%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
#page4-left img{
      width: 100%;
      height: 100%;
}
.page4-righttext{
     position: relative;
   
}

#para1::before{
     content: " ";
     height: 100%;
     position: absolute;
     width: 2px;
     background-color:rgba(255, 255, 255, 0.419);
     left: -1vw;
     transition: all 0.3s linear;
}
#para2::before{
     content: " ";
     height: 100%;
     position: absolute;
     width: 2px;
     background-color:rgba(255, 255, 255, 0.419);
     left: -1vw;
     transition: all 0.3s linear;
}
#para3::before{
     content: " ";
     height: 100%;
     position: absolute;
     width: 2px;
     background-color: rgba(255, 255, 255, 0.419);
     left: -1vw;
     transition: all 0.3s linear;
}
#para1:hover{
      color: white;
}
#para2:hover{
      color: white;
}
#para3:hover{
      color: white;
}
#para1:hover::before{
      background-color: red;
}
#para2:hover::before{
     background-color: red;
}
#para3:hover::before{
background-color: red;
}
#button-parent{
      background-color: white;
      padding: 10px;
      padding-bottom: 5px;
}
#button{
      height: 70px;
      width: 220px;
      display: flex;
      margin-top: 20px;
      margin-left: 40px;
      margin-bottom: 50px;
      gap: 30px;
     padding: 25px 35px;
      border: 1px solid black;
      border-radius: 30px;
      transition: all 0.3s linear;
}
#button:hover {
      background-color: #000000;
}
#button:hover p{
     color: white;
}
#button:hover i{
     color: white;
}

#page5{
      width: 100%;
      height: 70vh;
      background-color: #EFEAE3;
      padding: 10vw 4vw;
}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 30%;
      border-left: 1px solid #ada4a4;
    }

    
    
   
/* #page6{
      width: 100%;
      height: 60vh;
      background-color: white;

} */

@media (max-width:1000px) {
     .page4-child{
           flex-direction: column;
           align-items: center;
     }
     #page4-right{
           width: 85%;
           margin: 20px;
           border-radius: 20px;
     }
     #page4-left{
          width: 85%;
          border-radius: 20px;
          overflow: hidden;
     }
     #button{
           margin-left: 25px;
           background-color: white;
     }

}
#page7{
      width: 100%;
      height: 100vh;
}
#main{
    position: relative;
    z-index: 12;
    cursor: Help pointer;
    /* background-color: #EFEAE3; */
}
#footer{
     position: fixed;
     height: 100vh;
     width: 100%;
     z-index: 9;
     bottom: 0; 
     background-color: #000;
     display: flex;
    flex-direction: column    ;
    justify-content: flex-end;

     
}
#footer h1{
      color: white;
      font-size: 20vw;
      border-bottom: 2px solid white;
      margin-left: 20px;
      margin-bottom: 30px;
}
#inside-footer {
       display: flex;
       justify-content: space-between;
       /* border: 3px solid red; */
       padding: 1vw 10vw;
}
#inside-footer  #left{
      font-size: 4vw;
      color: white;
      font-weight: 700;
}
#inside-footer #right{
       border-bottom: 2px solid red;
       width: 400px;
}

#inside-footer #right p{
      
       color: white;
       text-align: left; 
       font-size: 20px;
}
#right #right-mid {
     
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 60px;
       gap: 250;
}
#right #right-mid p{
       color: gray;
}

#right-mid i{
      color: white;
      font-size: 40px;
    font-weight: 400;
}
#footer-child{
     position: fixed;
     z-index: 99;
      
       width: 90%;
       margin-left: 50px;
}
.baller{
       height:20vw;
      
      
      filter: blur(40px);
      
       width: 34vw;
       background-color: red;
}
#baller-wrapper{
       display: flex;
       position: fixed;
       z-index: 90;
       top: 0;
}
#ball1{
       animation-name: move1;
       animation-timing-function: linear;
       animation-iteration-count: infinite;
       animation-direction: alternate;
       animation-duration: 3s;
}
#ball2{
      animation-name: move2;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: 3s;
}
#ball3{
      animation-name: move3;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: 3s;
}
@keyframes move1 {
      from{
            transform: translate(20%,-20%) skew(0);
      }
      to{
           filter:blur(30px);
           transform: translate(-10%,10%) skew(-30deg);
      }
}
@keyframes move3 {
      from{
            transform: translate(20%,-20%) skew(0);
      }
      to{
           filter:blur(30px);
           transform: translate(-10%,10%) skew(-30deg);
      }
}
@keyframes move2 {
      from{
            transform: translate(20%,-20%) skew(0);
      }
      to{
           filter:blur(30px);
           transform: translate(-10%,10%) skew(-30deg);
      }
}
@media (max-width:800px){
       #inside-footer{
             flex-direction: column;
             gap: 20px;
       }
}

@media (max-width:600px){
      nav #nav-part2{
            display: none;
      }
      #inside-footer  #left{
             font-size: 10vw;
      }
      #Menu{
             display: flex;
             border: 1px solid grey;
             padding: 3vw 5vw;
            border-radius: 50px;
      }
      #Menu span{
             font-weight: 300;
       margin-left: 1vw;
      }
      #Menu  #open{
             font-size: 15px;
             font-weight: 500;      
      }
      #Menu #close{
            display: none;
      }
      #full-scr{
            display: none;
            height: 50vh;
            width: 100%;
            /* background-color: #00000013; */
            background-color: red;
          position: fixed;
          z-index: 13;
            top: 85px;
            border-bottom-right-radius: 40px;
            border-bottom-left-radius: 40px;
            transition: all 1s ease;
      }
      #center{
             display: block;
           
             position: relative;
           
      }
      #center #left{
          
            position: relative;
             bottom: -250px;
            text-align: center;
            width: 80%;
         
            z-index: 1;
            
      }
      #center #left h3{
             font-size: 5vw ;
             text-align: left;
             line-height: 7vw;
         
            
             width: 100%;
      }

    #center #right p{
       font-size: 15vw;
       line-height: 15vw;
       font-weight: 700;
    }

    #center #right{

right: 2vh;
position: absolute;
top: 0.2vw ;
    }

   #page1 video{
       height: 80vh;
       width: 100%;
      
       object-fit: cover;
   }
   #moving-text h1{
       font-size: 13vw;
       font-weight: 700;
   }
  #page2-bottom{
      margin-top: 20px;
       flex-direction: column;
       gap: 0px;
  }
 

  #page2-bottom h1{ 
   
      line-height: 20px;
     
      width: 90%;
      font-size: 5vw; 
     
       
  }
  #page2-bottom #bottom-part2{
     
       width: 70%;
      position: absolute;
      top: 155px;
      left: 27px;
  }

  #page2-bottom #bottom-part2 p{
       width: 100%;
       font-size: 14px;
       font-weight: 400;
       height: 120px;
      
  }
}
#swiper-slide1 p{
       width: 100%;
       font-size: 18px;
       margin-top: 1vw;
}
#swiper-slide1 {
       padding: 0.5vw 1vw
}
#swiper-slide2 p{
       width: 100%;
       
}

#swiper-slide2{
      padding-left: 1vw;
}
#swiper-slide3 p{
       width: 100%;
}

#swiper-slide3{
       padding-left:1vw ;
}
#swiper-slide4 p{
       width: 100%;
       margin-top: 10px;

}
#swiper-slide4 {
       padding-left: 1vw;
}
@media (max-width:900px) {
      swiper mySwiper .swiper-wrapper .swiper-slide p{
             width: 100%;
      }
}
.scr-items{
       font-size: 50px;
       font-weight: 500;
       color: white;
       position: relative;
       top: 30px;
       left: 0px;
       animation-name: scr-move;
       animation-duration: 1s;
       animation-timing-function: linear;
       animation-iteration-count: 1;
}

@keyframes scr-move {
      from{
             transform: translateX(-30%);
      }
      to{
             transform: translateX(0%);
      }
      
}
